{{ define "main" }}

<div class="grass">
  <div class="content">

    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ $pages := where site.RegularPages "Type" "posts" }}
    {{ $paginator := .Paginate $pages.ByTitle 5 }}

    <div class="posts">
      {{ range $paginator.Pages }}
      <a href="{{ .RelPermalink }}">
        <div class="post-card hvr-forward">
          <div class="post-link">{{ .LinkTitle }}</div>
          <div class="post-date">{{.Date.Format "2006-01-02"}}</div>
        </div>
      </a>
      {{ end }}
    </div>


    {{partial "pagination.html" .}}  

  </div>
  <img id="fox" src="/img/animals/fox-sprite-sheet.png" alt="fox">
  <div id="canvas-container">
    <canvas id="fox-canvas"></canvas>
  </div>
</div>

{{ partialCached "head/fox.html" . }}

{{ end }}